<tr>
  <td style="width: 20%;">
	<div class="general-info-item"><span class="general-title">Platform</span></div>
  </td>
  <td>{{ osplatform }}</td>
 </tr>
 <tr>
  <td>
	<div class="general-info-item"><span class="general-title">Uptime</span></div>
  </td>
  <td>{{ osuptime }}</td>
 </tr>
 <tr>
  <td>
	<div class="general-info-item"><span class="general-title">Server Time</span></div>
  </td>
  <td>{{ ostime }}</td>
 </tr>
 <tr>
  <td>
	<div class="general-info-item"><span class="general-title">Hostname</span></div>
  </td>
  <td>{{ osdevicename }}</td>
</tr>