[HostDetails]
#Nexus Switch ipaddress and user details
ipaddress=
username=
password=

[InterfaceDetails]

#Nexus switch interface slot details e.g slot=1,2,3 etc
#tested for slot values 1,2(slot=1,2)
slot=
#start port is 1 for all the slots
startport=1
#mention the endports for each slot e.g slotoneend,slottwoend, etc
slotoneend = 
slottwoend = 

[EmailDetails]
#email to address list e.g sailajap@onecloudinc.com,darshan@onecloudinc.com
to_addresses=

